.menu-superior
{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f8f8f8;
}

.menu-imovel
{
    background: linear-gradient(90deg, #174f7b 80%, #0d709c 20%);
}

.menu-imovel div
{
    //height: 80px;
}

.menu-imovel div:not(:last-child),
.menu-imovel div:nth-child(4) div.col-xs-6
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-imovel div:nth-child(4) h1
{
    padding-top: -14px;
    margin-top: 10px;
}

.menu-imovel div:nth-child(4) h1,
.menu-imovel div:nth-child(4) span
{
    color: #fff;
    font-weight: 700;
}

.menu-imovel div:nth-child(4) span
{
    font-size: 21px;
    font-weight: 700;
}

.menu-imovel div:nth-child(4) span small
{
    font-size: 12px;
}

/* MENU CATEGORIAS */
.menu-imovel ul
{
    padding-top: 17px;
}

.menu-imovel div.menu-items ul li
{
    display: inline;
    font-size: 20px;
    font-style: italic;
    margin-right: 8px;
}

.menu-imovel div.menu-items ul li a
{
    color: #fff;
}

/* CAMPO BUSCA IMÓVEL PELO CÓDIGO */
.menu-imovel div:nth-child(3) .input-group .form-control
{
    margin-top: 13px;
    font-size: 12px;
    font-style: italic;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu-imovel div:nth-child(3) .input-group span button.btn
{
    margin-top: -19px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-imovel div:nth-child(3) .input-group span button.btn span.glyphicon
{
    color: #174f7b
}

/*MENU MOBILE*/

.menu-mobile .navbar-default {
    background-color: #000000 !important;
    min-height: 63px;
}

.navbar-toggle
{
    margin-top: 12px;
}

.menu-mobile .navbar
{
    min-height: 81px;
    margin-bottom: 0;
    border: 0;
}
.menu-mobile .navbar-default .navbar-collapse,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a
{
    font-size: 20px;
    border: 0;
    color: white!important;
    background-color: #000000 !important;
    text-align: center;
    margin-top: 10px;
    line-height: 0;
    font-style: italic;
    font-family: Open Sans, sans-serif;
    font-size: 13px !important;
}

.logo-teucorretor
{
    height: 73px;
    padding-bottom: 10px;;
}

.navbar-brand
{
    padding: 0!important;
}


.navbar-default .navbar-toggle.collapsed {
    border-color: #acb8bf;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #acb8bf;
}

.navbar-default .navbar-toggle{
    border-color: #f00009;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f00006;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
}


@media screen and (min-width: 1610px) {
    .menu-imovel
    {
        background: linear-gradient(90deg, #174f7b 70%, #0d709c 30%);
    }
}