.menu-superior
{
    background-color: #191818 !important;
}

.menu-superior
{
    text-align: right;
}

.menu-superior,
.menu-superior a
{
    color: #fff;
}

.menu-superior a
{
    padding-right: 10px;
}

.menu-imovel
{
    background: #0e0e0e !important;
}

.menu-imovel div
{
    //height: 53px !important;
}

.menu-imovel div.menu-items ul li
{
    padding-top: 0px !important;
}

.menu-imovel div.menu-items ul li a
{
    font-size: 13px !important;
}

#menu-filtro,
.menu-imovel .menu-items img
{
    z-index: 2;
}

#menu-filtro {
    position: fixed;
    bottom: 0;
    background: #e00c08;
    border-top: #ececec 2px solid;
}

.menu-imovel div.menu-items
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.menu-imovel ul
{
    padding-top: 41px !important;
}

#menu-filtro .input button.btn.dropdown-toggle.btn-default,
#menu-filtro .input > input.form-control
{
    height: 30px;
    padding-top: 4px;
    font-size: 12px;
}


#menu-filtro .input input[name=codigo]
{
    background-color: transparent;
    border: 1px solid #afafaf;
}

#menu-filtro .input
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 0px;
}

#menu-filtro .btn-buscar-filtro
{
    font-size: 28px;
    padding-bottom: 2px;
    padding-top: 8px;
}

#menu-filtro .btn-buscar-filtro a
{
    color: #cc1c1c;
}

.rodape
{
    margin-top: 25px;
    background-repeat: repeat-x;
    padding-bottom: 40px;
    padding-top: 65px;
    background: #efefef;
    color: #585858;
}

.rodape h3
{
    margin-top: 0px;
}

.mapa-contato .mapa
{
    margin-bottom: 50px;
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mapa-contato .mapa:before, .mapa-contato .mapa:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius: 0px / 10px;
}

.mapa-contato .mapa:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


.mapa-contato .contato
{
    margin-top: 40px;
}

.mapa-contato h3
{
    font-size: 18px !important;
}

.mapa-contato p
{
    font-size: 13px !important;
}

/*HOME*/
.imovel-destaque-maior .descricao hr,
.imoveis-similares h2 > hr
{
    border-top: 3px solid #d43131;
    width: 25%;
}

.imovel-destaque-maior .foto img
{
    max-height: 350px;
}

.imoveis-similares h2 > hr
{
    float: left;
    width: 15%;
}

.imovel-destaque-maior .descricao hr
{
    float: right;
}

.imovel-destaque-maior .descricao h2,
.imovel-destaque-maior .descricao p
{
    padding-right: 5px;
}

.imovel-destaque-maior .descricao h2
{
    margin-top: 90px;
    font-size: 35px;
}

.imovel-destaque-maior .descricao h3
{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.imovel-destaque-maior .descricao
{
    background-color: #313131;
    color: #fff;
    text-align: right;
}

.imovel-destaque-maior .foto .row
{
    background-color: white;
}

.msg-bem-vindo
{
    font-style: italic;
}

.msg-bem-vindo h3
{

}

.msg-bem-vindo .col-md-8 p
{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 2px solid #690000;
    padding-right: 20px;
    text-align: right;
}

.banner-container
{
    height: 350px;
    overflow: hidden;
    -webkit-box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    -moz-box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    box-shadow: -1px 9px 19px -4px rgba(0,0,0,0.72);
    margin-bottom: 15px;
}

.banner-container img
{
    top: -150px;
    position: relative;
}

.imovel
{
    text-align: right;
    font-style: italic;
    font-size: 13px;
    border: 1px #464646 solid;
    padding: 10px;
}

.imovel:hover
{
    border: 1px #808080 solid;
}

.imovel h3.tipo
{
    color: #ccac07;
    font-weight: 700;
    font-size: 19px;
}

.imovel p.descricao
{
    margin-top: 20px;
    border-left: 1px solid #690000;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imovel p.valor
{
    font-size: 25px;
    font-weight: 600;
}
.imovel-cabecalho .container
{
    color: black;
}

.imovel p.valor,
.imovel p.descricao
{
    color: #fff;
}

.imovel p.valor i.glyphicon-triangle-right
{
    color: #690000;
}

.imovel img
{
    max-height: 200px;
    min-height: 200px;
    width: 100%;
}

.imovel p.descricao
{
    height: 60px;
    font-size: 9px;
}

.imovel span.finalidade,
.condominio span.finalidade
{
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 1;
    background-color: black;
    padding: 4px 5px;
    color: #fff;
    font-size: 11px;
    font-style: normal;
}

.imoveis-similares .imovel span.finalidade,
.condominio span.finalidade
{
    left: 30px;
}

.modal-content .modal-header,
button.btn.btn-danger
{
    background-color: #610000;
    color: #fff;
}

.modal-content
{
    border-radius: 0;
}

.quem-somos
{
    padding-top: 100px !important;
}

.direitos-simples
{
    padding-top: 14px;
    padding-bottom: 60px;
    font-size: 10px;
}

.botao-pesquisa
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-bottom: 4px solid #e00c08;
}

.botao-pesquisa > button:focus
{
    display: none;
}


.btn-pesquisar-toggle
{
    height: 100px!important;
    text-align: center;
    width: 75px;
    font-size: 15px !important;
    z-index: 1111;
    bottom: 0;
    margin-right: 0px;
    font-style: italic;
    padding-right: 45px;
    border: 0;
    height: 40px;
    clip-path: polygon(140% 1%, 0% 100%, 100% 125%);
    background-color: #e00c08;
    color: rgb(250, 250, 250);
}

.btn-pesquisar-toggle span
{
    margin-left: 31px;
    margin-top: 66px;
    font-size: 19px;
}

.painel-pesquisa > .col-xs-12 > .row > button
{
    margin-bottom: 246px;
}

.painel-pesquisa
{
    padding-left: 0;
}

.painel-pesquisa .form-filtro
{
    width: 100%;
}


@media(min-width:330px) and (max-width: 768px){

    .codigo
    {
        margin-top: 15px;
    }

    .finalidade
    {
        padding-bottom: 0!important;
    }
}