.tabs-style-linetriangle nav li.tab-current a
{
    border-bottom-color: #cacaca;
}

.tabs-style-linetriangle nav li.tab-current a:after
{
    border-top-color: #cacaca;
}

.tabs-style-linetriangle nav a span
{
    padding-bottom: 10px;
}

section > div.tabs.tabs-style-linetriangle > nav img
{
    height: 55px;
}

.tabs nav a
{
    line-height: 1.5;
}

.tabs nav a small
{
    font-size: 13px;
    font-style: italic;
}

#section-fotos img
{
    margin-bottom: 25px;
    height: 90px;
}

.imovel-midias h4,
.imovel-descricao h4,
.imovel-descricao small,
.imovel-descricao ul li span
{
    color: #b7b7b7;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;
}

.imovel-descricao
{
    margin-top: 13px;
}

.imovel-midias
{
    margin-top: 13px;
}

.imovel-descricao small
{
    font-size: 13px;
}

.imovel-descricao ul li:not(:last-child)
{
    border-right: 1px solid #e0e0e0;
}

.imovel-descricao ul
{
    margin-top: 20px;
    margin-bottom: 25px;
}

.imovel-descricao ul li
{
    margin-right: 8px;
    padding-right: 8px;
    width: 17%;
}

.imovel-descricao ul li span
{
    font-size: 18px;
}

.imovel-descricao ul li small
{
    font-size: 10px;
}

.imovel-descricao .imovel-valor
{
    padding-left: 0;
    padding-right: 0;
}

.imovel-descricao .imovel-valor h1
{
    font-weight: 700;
    font-style: italic;
}

.imovel-descricao .imovel-valor h1 > small
{
    float: left;
    font-size: 16px;
    padding-right: 5px;
}

.imovel-descricao .imovel-valor button.btn
{
    margin-top: 15px;
    border-radius: 0px;
//background-color: #093c5f;
    border: none;
    font-style: italic;
    height: 45px;
    width: 100%;;
}

.imovel-descricao .imovel-complementos h4
{
    margin-top: 100px;
}

.imovel-descricao .imovel-complementos span
{
    margin-right: 5px;
    border: solid 1px #ccc;
    padding: 0px 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-style: italic;
    font-size: 13px;
}

#imagens-principais-carousel
{
    background-color: #8c8c8c;
}

#imagens-principais-carousel.owl-carousel .owl-item.active.center
{
    opacity: 1;
}

.owl-carousel .owl-item .item
{
    max-height: 550px;
}

#imagens-principais-carousel.owl-carousel .owl-item
{
    opacity: 0.3;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/*
#imagens-principais-carousel.owl-carousel .owl-item,
#imagens-principais-carousel.owl-carousel .owl-item img
{
    height: 700px;
}*/

.owl-carousel-navigation a:hover
{
    cursor: pointer;
}

.owl-carousel-navigation .prev,
.owl-carousel-navigation .next
{
    margin-top: -365px;
    z-index: 2;
    position: absolute;
}

.owl-carousel-navigation a.prev
{
    left: 0;
    margin-left: 210px;
}

.owl-carousel-navigation a.next
{
    right: 0;
    margin-right: 210px;
}

.owl-carousel-navigation a.prev img,
.owl-carousel-navigation a.next img
{
    height: 75px;
}

.owl-theme .owl-controls
{
    display: none;
}

#section-unidades table tr td small
{
    font-size: 10px;
}

#section-unidades table thead tr th
{
    text-align: center;
}

#section-unidades table thead tr th,
#section-unidades table tbody tr
{
    font-size: 13px;
}


@media(min-width:330px) and (max-width: 768px) {

    .imovel-descricao ul li small {
        font-size: 8px;
    }

    #section-fotos img
    {
        height: auto;
    }

}