.imovel img
{
    height: 300px;
    width: 100%;
}
.imovel h3
{
    text-align: center;
}

.imovel span.finalidade
{
    left: 30px;
}

.imoveis
{
    margin-top: 40px;
}

.btn-procurar
{
    border-radius: 0px;
    padding: 19px 7px;
    font-style: italic;
    background-color: #610000;
    border: none;
}

#form-pesquisar > div.row > div
{
    margin-bottom: 10px;
}